* {
    font-family: 'Exo 2', Tahoma, Geneva, Verdana, sans-serif;
    scroll-behavior: smooth;
    transition-duration: 300ms;
}

.underlined {
    border: 0.1px solid;
    width: 15%;
}

/* body {
    background-image: url(./images/Doodle.jpg);
    background-size: cover;
} */

/* fixed navbar */
.navbar-fixed {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 2;
}

/* @media screen and (max-width: 270px) {} */