* {
    font-family: 'Exo 2', Tahoma, Geneva, Verdana, sans-serif;
    scroll-behavior: smooth;
    transition-duration: 300ms;
}

html {
    scroll-snap-type: y proximity;
    scroll-padding-top: 1.2rem;
    /* mandatory for always */
    /* proximity for close to next section */
}

.underlined {
    border: 0.1px solid;
    width: 15%;
}

section {
    border-bottom: 2px solid;
    scroll-snap-align: start;
}

section:first-of-type {
    scroll-snap-align: none;
}

/* .emoji {
    font-size: 15rem;
} */

/* fixed navbar */
.navbar-fixed {
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
}

/* @media screen and (max-width: 270px) {} */

/* body {
    background-image: url(./images/Doodle.jpg);
    background-size: cover;
} */